.reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset li {
  display: inline-block;
}

.chunk {
  background: #eee;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  padding: 8px 30px 8px 20px;
  position: relative;
  text-align: center;
}

.chunk a {
  color: #fff;
}

.chunk input {
  height: 2rem;
  margin: 0;
}

.chunk .controls {
  position: absolute;
  right: 5px;
  top: 2px;
  width: 20px;
}

.chunk .control {
  background: #fff;
  margin: 2px;
  padding: 5px;
}

.chunk.unscheduled {
  background: #fdd;
}

.chunk.scheduled {
  background: #dfd;
}

.bin {
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
}

.bin.highlight {
  background: #f9f9e1;
}

.heading-action {
  left: 20px;
  position: relative;
  top: 6px;
}

.chunks-total {
  padding-top: 100px;
}

.cell {
  background: #eee;
  margin-bottom: 20px;
  min-height: 80px;
}

.cell.highlight {
  background: #f9f9e1;
}

.cal-row h3 {
  margin-top: 18px;
}